:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo a {
  text-decoration: none;
  color: var(--font-body);
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}

.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}

.logo--square>div {
  margin-top: -1.7em;
}

/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}

.divider {
  border-bottom: 2px solid var(--primary-color);
}

/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
  height: 25px;
  /* Make sure the height matches the width if you want it to remain square */
}

.cart:hover svg {
  fill: gray;
  /* Changes the color of the SVG on hover */
}

/* If the paths inside the SVG don't change color by default, please target them explicitly: */
.cart svg path {
  transition: fill 0.3s ease;
  /* Adds smooth transition for the color change */
}

.cart:hover svg path {
  fill: gray;
  /* Ensures the paths inside the SVG are also affected */
}

/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Styles for product lists */
.product-card {
  /* flex: 1 1 45%; */
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  max-width: 250px;
}

.product-card:hover {
  box-shadow: 0 0 5px 0 var(--light-grey);
}

.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.product-grid a {
  text-decoration: none;
  color: var(--dark-grey);
}

.category-name {
  font-size: 1rem;
  margin-top: 10px;
  text-align: center;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}

/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}

.cart-card p {
  margin-top: 0;
}

.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 3;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

/* Start products styles */

.products {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.products ul {
  list-style-type: none;
  padding-left: 0;
}

.products category-name {
  font-size: 1rem;
  text-align: center;
}

.product-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* End products styles */

footer {
  font-size: var(--small-font);
  padding: 1em;
}

.popup-message {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: var(--secondary-color);
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
  z-index: 1000;
  animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  15% {
    opacity: 1;
    transform: translateY(0);
  }

  85% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.quantity-selector {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.quantity-selector input {
  width: 60px;
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
}

.product-detail__add {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}

.checkout {
  margin-bottom: 2rem;
}

/* Start form checkout styles */

.form-section {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  margin: 1rem;
  padding: 1rem;
  width: 100%;
  max-width: 40vw;
  margin: 0 auto;
}

.form-section input,
label {
  width: 100%;
  height: 2rem;
  margin: 0 auto;
  padding: 0;
}

/* Input styles */

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"],
input[type="month"],
select {
  width: 100%;
  padding: 10px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  color: #333;
  background-color: #fff;
  transition:
    border-color 0.3s,
    box-shadow 0.3s ease-in-out;
}

/* focus effect */
input:focus,
select:focus {
  border-color: #3498db;
  /* Light blue border on focus */
  outline: none;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.4);
  /* subtle glow */
}

.form-section .checkout-button {
  margin-top: 10px;
}

.form-group {
  font-size: var(--small-font);
  padding: 1rem;
}

.form-data {
  display: flex;
  padding: 0.3rem;
}

/* End form checkout styles */

@media all and (max-width: 534px) {

  .product-grid {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .products h1,
  .title {
    font-size: 1.2rem;
    text-align: center;
  }

  .product-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
  }

  .logo--square {
    opacity: 0;
  }

  .mission p {
    font-size: small;
  }
}

@media screen and (min-width: 900px) {
  .product-list {
    justify-content: space-around;
  }

  .product-card {
    flex: 1 1 45%;
  }
}

@media screen and (max-width: 1000px) {
  body {
    max-width: 1080px;
    margin: auto;
  }

  .mission {
    font-size: 1.2em;
  }

  .cart-card {
    font-size: grid;
    grid-template-columns: 150px auto 15%;
    gap: 10px;
    font-size: 1rem;
  }

  .form-section {
    max-width: 100vw;
    width: 100%;
    margin: 1rem auto;
  }

  .form-section input,
  .form-section select,
  .form-section label {
    width: 100%;
    padding: 12px;
  }

  .form-section .checkout-button {
    margin-top: 15px;
  }

  .form-data {
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
  }
}